<!DOCTYPE html>
<html lang="en">
<head>
    <title>Housing Prediction</title>
    <meta charset="UTF-8">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style> 
    body{
        background-color: #FFD700
    }
  </style>
  

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavBar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" rel="home" href="/"><img style="max-width:80px; margin-top: -30px;" src="/static/images/Iowa2.png" alt="state of Iowa"/></a>
          </div>
    
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/contact">Contact</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/form">Prediction tool</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/data">Data</a></li>
                      </ul>
                    </li>
                  </ul>
    
                  
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <div class="container">
          <div class="jumbotron">
  <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-8"> -->
      <h1>House Price Prediction</h1>
      <h3>This house is worth: 
          {% if guess %}
            ${{ guess }}
          {% endif %}
      </h3>
      <div>
        <a href="{{ url_for('jsonified') }}">
          <button type="button">
            Your Data
          </button>
        </a>  
      </div>
      <form method="POST" action="/form" role="form", name="modelform">

        <div class="form-group">
            <label for="inputOverallQual">Rates the overall material and finish of the house</label>
            <select class="form-control" id="inputOverallQual" name="OverallQual" required>
                <option value="10" {% if quality=='10' %} selected {% endif %}>Very Excellent</option>
                <option value="9" {% if quality=='9' %} selected {% endif %}>Excellent</option>
                <option value="8" {% if quality=='8' %} selected {% endif %}>Very Good</option>
                <option value="7" {% if quality=='7' %} selected {% endif %}>Good</option>
                <option value="6" {% if quality=='6' %} selected {% endif %}>Above Average</option>
                <option value="5" {% if quality=='5' %} selected {% endif %}>Average</option>
                <option value="4" {% if quality=='4' %} selected {% endif %}>Below Average</option>
                <option value="3" {% if quality=='3' %} selected {% endif %}>Fair</option>
                <option value="2" {% if quality=='2' %} selected {% endif %}>Poor</option>
                <option value="1" {% if quality=='1' %} selected {% endif %}>Very Poor</option>
            </select>


        </div>

        <div class="form-group">
            <label for="inputGrLivArea">Above grade (ground) living area square feet</label>
            <input required type="number" step= ".000001" min=0 class="form-control" id="inputGrLivArea" name="GrLivArea" placeholder="Insert Square foot number" value={% if livable_area %} {{  livable_area  }} {% endif %}>


        </div>

        <div class="form-group">
            <label for="inputGarageCars">Size of garage in car capacity</label>
            <input required type="number" step="1" min=0 class="form-control" id="inputGarageCars" name="GarageCars" placeholder="Insert number of cars" value = {% if num_cars %} {{  num_cars  }} {% endif %}>


        </div>

        <div class="form-group">
            <label for="inputGarageArea">Size of garage in square feet</label>
            <input required type="number" step=".000001" min=0 class="form-control" id="inputGarageArea" name="GarageArea" placeholder="Insert number of square foot" value = {% if garage_area %} {{  garage_area  }} {% endif %}>


        </div>

      
        <div class="form-group">
            <label for="inputTotalBsmtSF">Total square feet of basement area</label>
            <input required type="number" step=".000001" min=0 class="form-control" id="inputTotalBsmtSF" name="TotalBsmtSF" placeholder="Insert number of square foot" value = {% if basement_sqft %} {{  basement_sqft  }} {% endif %}>


        </div>
        <div class="form-group">
            <label for="input1stFlrSF">First floor square feet</label>
            <input required type="number" step=".000001" min=0 class="form-control" id="input1stFlrSF" name="1stFlrSF" placeholder="Insert number of square foot" value = {% if first_fl_sqft  %} {{  first_fl_sqft  }} {% endif %}>


        </div>

        <input type="submit" value="submit" class="btn btn-default">
      </form>

      </div>
    </div>

    </div>
  <!-- </div> -->


        
</body>
</html>