<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Real Estate Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
 <link rel="stylesheet" type="text/css" href="style.css">


<style>
#justify {
  text-align: justify;
}
  body{
      background-color: #FFD700
  }

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
</style>

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" rel="home" href="/"><img style="max-width:80px; margin-top: -30px;" src="/static/images/Iowa2.png" alt="state of Iowa"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="myNavBar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/contact">Contact</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/form">Prediction tool</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/data">Data</a></li>
                  </ul>
                </li>
              </ul>

              
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to House Price Analysis</h1>
      <!-- <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->

      <div id="content" class="site-content">

            <div id="primary" class="content-area">
                <main id="main" class="site-main">
        
                    
            <div class="entry-thumbnail" style="background-image: url(&quot;https://storage.googleapis.com/kaggle-competitions/kaggle/5407/media/housesbanner.png&quot;); height: 177px;"></div>
        
            

            <header class="entry-header">
                <h1 class="entry-title">About</h1>	</header><!-- .entry-header -->
        
            <div class="entry-content">
                <p id="justify">We opened the doors of our website with a simple goal: to inspire and help people calculate the  homes in Ames, Iowa.</p>
                <P id="justify">Ask a home buyer to describe their dream house, and they probably won't begin with the height of the basement ceiling or the proximity to an east-west railroad. 
                   But this model proves that much more influences price negotiations than the number of bedrooms or a white-picket fence.
                With 6 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, this website helps you to predict the final price of each home.</P>
            
            <div class="text-center">
                <a style=font-size:30px  href="{{ url_for ('form') }}" target="_blank">Click Here to Begin!</a>
                    
            </div><!-- .entry-content -->
        
            
            </div><!-- #primary -->
        
        
            </div>
    </div>
    


    






  </div>


  


</body>

</html>

